NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="some-next-key"
CLERK_SECRET_KEY="some-clerk-key"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<user>@localhost:5432/github_analyzer_panel"
# DATABASE_URL="postgresql://github_analyzer_panel_owner:npg_v8egS4biTznB@ep-plain-violet-a5pvyahq-pooler.us-east-2.aws.neon.tech/github_analyzer_panel?sslmode=require"
CLERK_WEBHOOK_SIGNING_SECRET="some_webhook_secret" # reminder to turn this on in clerk while in dev mode and testing


NEXT_PUBLIC_POSTHOG_KEY="some-Posthog_key"
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"